<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <p>Este es el inicio de {{nombre}} {{apellido}}</p>
    {% if edad > 50 %}
    <p>Esta persona tiene mas de 50 años</p>
    {% endif %}
    <ul>
        {% for valor in lista  %}
        <li>List {{valor}}</li>
        {% endfor %}
    </ul>
    <ul>
        <p>Datos del perro</p>
        <li>{{perro.nombre}}</li>
        <li>{{perro.edad}}</li>
    </ul>
    </body>
</html>